# coding: utf-8

ELASTICSEARCH = {
    'host': 'localhost',
    'port': '9200',
    'index': 'social',
    'doc_type': 'twitter',
    'template': 'twepy',
}

TWITTER_API = {
    'consumer_key': '',
    'consumer_secret': '',
    'access_key': '',
    'access_secret': '',
}
